:root {
  --color--brand-primary: #ff4458;
  --color--background-primary: #ffffff;
  --color--icon-navigation-primary-inactive: #7c8591;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--color--background-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 6%;
}

.header-logo {
  fill: var(--color--brand-primary);
}

.icon-navigation-primary-inactive {
  fill: var(--color--icon-navigation-primary-inactive);
}

main {
  height: 88%;
  background-color: #f2f2f2;
}

footer {
  background-color: var(--color--background-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 6%;
}
